extends partial/layout

block container
  include mixins/post
  h1 Articles tagged "#{page.tag}"
  a(href=url_for('/browse#tags'), class='sub-title') See All Tags
  +posts()

block footer
  include partial/footer
