$fontSize: 15;
$containerWidth: 1080;

$color-text-main: #34495e;
$color-text-flushed: #7f8c8d;

$color-background-light: #eee;

$color-highlight-main: #42b983;
$color-highlight-secondary: #e96900;
$color-highlight-tertiary: #855ac5;

$color-code-default: #525252;
$color-code-constant: #0092db;
$color-code-attribute: $color-highlight-secondary;
$color-code-number: #ae81ff;
$color-code-special: #2973b7;
$color-code-formula: #b3b3b3;
$color-code-deletion: #ba4545;
$color-code-title: #83B917;
